/* Outer container */
/* .strategy-container {
  position: relative;
}

.strategy-section {
  position: relative;
  
} */

/* Main content area */
.strategy-content {
  width: 87%;
  background-color: #F4FFFB;
  margin: 0 auto;
  
}

/* ---------- Top Section ---------- */
.top-section {
 display: flex;
 align-items: center;
  justify-content: center;
 gap:30px
}
.top-text{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.vertical-line {
  width: 4px;
  height: 400px; 
  margin-left: 20px;
  background-color: #3B8F6E;
}
.heading-content >h1{
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 60px;
  line-height: 80px;
}
.highlight-heading{
  color: #3b8f6e;
}
.subheading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.center-content{
  text-align: center;
}
.center-content >h1{
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 60px;
  
}
.investment-hni{
  color: #3b8f6e;
}
.investment-subtitle{
  font-family: "Gayathri", sans-serif;
  font-weight: 700;
  color: #3b8f6e;
  font-size: 24px;
  line-height: 40px;
}
.middle-images {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
   
}

/* Ensure all images are positioned */
.middle-images img {
  position: relative;
}

/* Make the 1st image appear on top of the 2nd */
.middle-images > img:nth-child(1) {
  z-index: 2;
  margin-right: -40px; 
}


.middle-images > img:nth-child(2) {
  z-index: 1;
}


.middle-images > img:nth-child(4) {
  z-index: 1;
}

.middle-images > img:nth-child(5) {
  z-index: 2; 
  
}
.image-layer{
  padding-top: 90px;
  margin-top:40px;
}
.image-layer{
  align-items: right;
  justify-content: right;
}
.api-content{
  display: flex;
  gap: 400px;
  align-items: center;
  justify-content: center;
  
}
.left-option{
  
  left:150px;
  text-align: right;
  width: 250px;
  
}
.option-title-left{
  font-family: "Gayathri", sans-serif !important;
  font-weight: 700;
  font-size: 24px !important;
  
}
.option-text-left{
  font-family: "Radio Canada Big", sans-serif !important;
  color: #142929;
  font-size: 16px !important;
  
  
}
.right-option{
  
  text-align: left;
  width: 250px;
  right: 150px;
}
.option-title-right{
  font-family: "Gayathri", sans-serif !important;
  font-weight: 700;
  font-size: 24px !important;
  width: 250px;
}
.option-text-right{
  font-family: "Radio Canada Big" ;
  
  font-size: 16px !important;
  width: 350px;
}
