.elementor-16 .elementor-element.elementor-element-22b2af8b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --overlay-opacity: 1;
    --padding-block-start: 7em;
    --padding-block-end: 0em;
    --padding-inline-start: 0em;
    --padding-inline-end: 0em;
}

.elementor-16 .elementor-element.elementor-element-22b2af8b:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-22b2af8b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/02/graph-of-digital-money-price-movements-represented-with-green-and-red-candlesticks.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-16 .elementor-element.elementor-element-22b2af8b::before,
.elementor-16 .elementor-element.elementor-element-22b2af8b>.elementor-background-video-container::before,
.elementor-16 .elementor-element.elementor-element-22b2af8b>.e-con-inner>.elementor-background-video-container::before,
.elementor-16 .elementor-element.elementor-element-22b2af8b>.elementor-background-slideshow::before,
.elementor-16 .elementor-element.elementor-element-22b2af8b>.e-con-inner>.elementor-background-slideshow::before,
.elementor-16 .elementor-element.elementor-element-22b2af8b>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: transparent;
    background-image: radial-gradient(at top right, #142A2B80 0%, var(--e-global-color-ecef64b) 80%);
}

.elementor-16 .elementor-element.elementor-element-22b2af8b,
.elementor-16 .elementor-element.elementor-element-22b2af8b::before {
    --border-transition: 0.3s;
}

.elementor-16 .elementor-element.elementor-element-79ebda9b {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 7em;
    --padding-block-end: 7em;
    --padding-inline-start: 2em;
    --padding-inline-end: 2em;
}

.elementor-16 .elementor-element.elementor-element-4a84a3c2 .elementor-heading-title {
    color: var(--e-global-color-text);
}

.elementor-16 .elementor-element.elementor-element-15b96e5 .elementor-heading-title {
    color: var(--e-global-color-text);
}

.elementor-16 .elementor-element.elementor-element-2eaab58a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-block-start: 5em;
    --padding-block-end: 11em;
    --padding-inline-start: 0em;
    --padding-inline-end: 0em;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-posts-container .elementor-post__thumbnail {
    /* padding-bottom: calc(0.66 * 100%); */
}

.elementor-16 .elementor-element.elementor-element-11e590bc:after {
    content: "0.66";
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__meta-data span+span:before {
    content: "•";
}

.elementor-16 .elementor-element.elementor-element-11e590bc {
    --grid-column-gap: 35px;
    --grid-row-gap: 35px;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__card {
    background-color: var(--e-global-color-text);
    border-radius: 10px;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__text {
    padding: 0 21px;
    margin-top: 0px;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__meta-data {
    padding: 10px 21px;
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-112b6c4-font-family), Sans-serif;
    font-size: var(--e-global-typography-112b6c4-font-size);
    font-weight: var(--e-global-typography-112b6c4-font-weight);
    line-height: var(--e-global-typography-112b6c4-line-height);
    letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
    word-spacing: var(--e-global-typography-112b6c4-word-spacing);
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__avatar {
    padding-right: 21px;
    padding-left: 21px;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__card .elementor-post__meta-data {
    border-top-color: var(--e-global-color-4d462f5);
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__badge {
    right: 0;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__card .elementor-post__badge {
    background-color: var(--e-global-color-3ee16e7);
    margin: 21px;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__title,
.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__title a {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__title {
    margin-bottom: 21px;
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__meta-data span:before {
    color: var(--e-global-color-ec3c7a7);
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__excerpt p {
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    font-weight: var(--e-global-typography-b2ce6af-font-weight);
    text-transform: var(--e-global-typography-b2ce6af-text-transform);
    font-style: var(--e-global-typography-b2ce6af-font-style);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
}

.elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__excerpt {
    margin-bottom: 21px;
}

@media(max-width:1024px) {
    .elementor-16 .elementor-element.elementor-element-22b2af8b {
        --padding-block-start: 6em;
        --padding-block-end: 0em;
        --padding-inline-start: 0em;
        --padding-inline-end: 0em;
    }

    .elementor-16 .elementor-element.elementor-element-79ebda9b {
        --padding-block-start: 5em;
        --padding-block-end: 5em;
        --padding-inline-start: 2em;
        --padding-inline-end: 2em;
    }

    .elementor-16 .elementor-element.elementor-element-2eaab58a {
        --padding-block-start: 3em;
        --padding-block-end: 7em;
        --padding-inline-start: 1em;
        --padding-inline-end: 1em;
    }

    .elementor-16 .elementor-element.elementor-element-11e590bc {
        --grid-column-gap: 21px;
        --grid-row-gap: 21px;
    }

    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__title,
    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__title a {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__meta-data {
        font-size: var(--e-global-typography-112b6c4-font-size);
        line-height: var(--e-global-typography-112b6c4-line-height);
        letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
        word-spacing: var(--e-global-typography-112b6c4-word-spacing);
    }

    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__excerpt p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }
}

@media(max-width:767px) {
    .elementor-16 .elementor-element.elementor-element-22b2af8b {
        --padding-block-start: 6em;
        --padding-block-end: 0em;
        --padding-inline-start: 0em;
        --padding-inline-end: 0em;
    }

    .elementor-16 .elementor-element.elementor-element-79ebda9b {
        --gap: 14px 14px;
        --padding-block-start: 3em;
        --padding-block-end: 3em;
        --padding-inline-start: 1em;
        --padding-inline-end: 1em;
    }

    .elementor-16 .elementor-element.elementor-element-4a84a3c2 {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-15b96e5 {
        text-align: center;
    }

    .elementor-16 .elementor-element.elementor-element-2eaab58a {
        --padding-block-start: 2em;
        --padding-block-end: 5em;
        --padding-inline-start: 1em;
        --padding-inline-end: 1em;
    }

    /* .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-posts-container .elementor-post__thumbnail {
        padding-bottom: calc(0.66 * 100%);
    } */

    .elementor-16 .elementor-element.elementor-element-11e590bc:after {
        content: "0.66";
    }

    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__title,
    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__title a {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__meta-data {
        font-size: var(--e-global-typography-112b6c4-font-size);
        line-height: var(--e-global-typography-112b6c4-line-height);
        letter-spacing: var(--e-global-typography-112b6c4-letter-spacing);
        word-spacing: var(--e-global-typography-112b6c4-word-spacing);
    }

    .elementor-16 .elementor-element.elementor-element-11e590bc .elementor-post__excerpt p {
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }
}

@media(min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-79ebda9b {
        --width: 50%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-79ebda9b {
        --width: 60%;
    }
}